[submodule "LVGL/lvgl"]
	path = LVGL/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "FS/LFS/littlefs"]
	path = FS/LFS/littlefs
	url = https://github.com/littlefs-project/littlefs
[submodule "guest/stb"]
	path = guest/stb
	url = https://github.com/nothings/stb.git
